---
import "../../styles/global.css";
import "../../styles/research.css";

import BaseLayout from "../../layouts/BaseLayout.astro";
import { getPosts } from "../../scripts/posts";

async function getDescendingYears() {
  const posts = await getPosts();

  const filteredPosts = posts.filter(
    (post) => post.data.research !== undefined
  );

  const years = [
    ...new Set(
      filteredPosts.map((post) => post.data.published!.getFullYear()).flat()
    ),
  ];

  return years.sort((a, b) => b - a);
}

const years = await getDescendingYears();
console.log(years);

const pageTitle = "research";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="container">
    <div class="title">
      <h1>research</h1>
    </div>

    <div class="content list research" data-years={years}></div>

    <!-- TODO: enable bundling via local file? Cannot import the (npm install infinite-scroll) package in frontmatter; Astro complains and says to put this in script file, which can in principle still be optimized. The external link disables optimizing, but we use that for now. -->
    <script
      src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"
      is:inline></script>

    <script client:load>
      const years = document
        .querySelector(".content.list.research")
        .dataset.years.split(",");

      function getYearPath() {
        var slug = years[this.loadCount];
        if (slug) {
          return "/research/" + slug;
        }
      }

      var infScroll = new InfiniteScroll(".content.list.research", {
        path: getYearPath,
        append: ".content.list.research",
        prefill: true,
      });
    </script>
  </div>
</BaseLayout>
