---
import "../../styles/media.css";
const { tag, years, target } = Astro.props;
---

<div
  id="data"
  class="grid are-images-unloaded"
  data-tag={tag}
  data-years={years.join(",")}
  data-target={target}
>
  <div class="grid-sizer"></div>
</div>

<script src="./media.js"></script>