---
import "../../styles/global.css";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("vault", ({ data }) => {
    return data.publish === true;
  });
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />

    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      href="/butterick/triplicate-heavy.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      href="/butterick/core-fonts.css"
    />
    <title>
      {post.id}
      {post.data.title}
    </title>
  </head>

  <body>
    <div class="container">
      <div class="title">
        <h1>{post.id}</h1>
        <p>{post.data.title}</p>
      </div>

      <div class="content">
        <Content />
      </div>
    </div>

    <script src="../../scripts/wrap.js"></script>
  </body>
</html>
