.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(45ch, 100%)
    1fr;
}

.wrapper > * {
  grid-column: 2;
}

.test {
  background-color: rgb(9, 163, 215);
  
}

.aside {
  grid-column: 3;
  background-color: rgb(160, 215, 9);
}

.full-bleed {
  width: 100%;
  max-width: 60ch;
  margin:auto;
  grid-column: 1 / -1;
}
