html {
  font-size: 2.4vw;
}
@media all and (min-width: 1000px) {
  html {
    font-size: 24px;
  }
}
@media all and (max-width: 520px) {
  html {
    font-size: 18px;
  }
}
/* body text base styles */
.body-text_triplicate {
  font-family: triplicate-text;
  line-height: 1.45;
  font-size: 0.85rem;
  font-feature-settings: "ss01"; /* triplicate poly feature */
}
* {
  margin: 0;
  padding: 0;
}
li {
  column-break-inside: avoid;
  break-inside: avoid-column;
}
html {
  height: 100%;
}
body {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1000px;
  min-height: 100%;
  position: relative;
  z-index: -10000;
  -webkit-font-smoothing: subpixel-antialiased; /* corrects safari rendering */
}
div#content {
  /* wraps both main and subnavigation */
  padding: 3rem 0 18rem 0;
  margin-left: 12rem;
  margin-right: 2.5rem;
}
@media all and (max-width: 520px) {
  div#content {
    margin: 1.5rem;
    padding: 0;
  }
}
topic {
  display: block;
  font-family: advocate-c41;
  font-size: 2.3rem;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-style: normal;
  line-height: 1.1;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-top: 1px solid #333;
  padding-top: 0.02em;
  hyphens: none;
}
title-block topic {
  font-family: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  font-size: 125%;
  line-height: 1.1;
  border-bottom: inherit;
  margin-top: 0;
  margin-bottom: 0.8rem;
  font-weight: bolder;
  border-top: 0;
  padding-top: 0;
}
topic + p {
  font-size: 115%;
}
aside p {
  font-family: heliotrope-t3;
  font-size: 0.83rem;
  line-height: 1.4;
  color: #667;
  letter-spacing: 0.015em;
  hyphens: none;
  font-feature-settings: "liga";
}
aside,
title-block {
  display: block;
  float: left;
  position: absolute;
  margin-left: 0;
  left: 2.5rem;
  width: calc(2.5rem * 3);
  text-align: right;
  list-style-type: none;
  clear: both;
  margin-bottom: 1rem;
  font-variant-numeric: normal;
}
@media all and (min-width: 1200px) {
  aside {
    left: 0;
    width: calc(2.5rem * 4);
  }
}
@media all and (max-width: 520px) {
  aside,
  title-block {
    float: inherit;
    position: inherit;
    width: 100%;
    text-align: left;
  }
  aside {
    background: #fefefe;
    padding: 0.3rem 0.5rem;
    width: 90%;
    border: 1px solid #ccc;
    border-left: 3px solid #ccc;
  }
  aside > p:last-child {
    margin-bottom: 0;
  }
}
title-block {
  margin-bottom: 2em;
  border-top: solid 3px #333;
  padding-top: 5px;
}
book,
first-use {
  font-style: italic;
}
short-rule {
  display: block;
  font-size: 100%;
  line-height: 1.25;
  font-style: italic;
  hyphens: none;
}
li,
p {
  margin-bottom: 1em;
}
p:nth-child(odd) {
  transform: skewX(-0.5deg);
}
p:nth-child(even) {
  transform: skewX(+0.5deg);
}
ol {
  counter-reset: foobar;
}
ol li,
ul li {
  margin-left: 2.5rem;
  list-style: none;
}
ol li:before {
  counter-increment: foobar;
  content: counter(foobar);
  font-family: concourse-t3-index;
  font-size: 1.1rem;
  position: absolute;
  margin-left: -2.5rem;
}
ul li:before {
  content: "•";
  position: absolute;
  margin-left: -2.5rem;
}

ul.children {
  font-size: 95%;
  column-count: 2;
  column-gap: 2.5rem;

  list-style-type: none;
}

ul.children li {
  margin-left: 2em;
}

ul.children li:before {
  margin-left: -2em;
  padding-right: 1.5em;
  position: static; /* because they're in columns */
}

@media all and (max-width: 520px) {
  ul.children {
    font-size: 100%;
    column-count: 1;
    column-gap: 2em;
  }
}

ul.children li {
  margin-bottom: 0;
  padding-bottom: 1em;
}

aside first-use {
  font-weight: bolder;
  font-style: normal;
}
aside em {
  font-weight: bolder;
  font-style: normal;
  letter-spacing: 0;
}
aside img {
  margin-bottom: 0.25em;
}
table {
  margin-bottom: 1.5em;
  border-collapse: collapse;
  width: 95%;
}
table.shortcut {
  font-size: 0.9rem;
  font-variant-numeric: normal;
}
table.shortcut td {
  line-height: 1.3;
}
table tr + tr {
  border-top: 1px solid #ccc;
}
table td + td {
  border-left: 1px solid #ccc;
}
table td {
  padding: 0.4em;
  text-align: center;
  hyphens: none;
}
table th {
  font-family: concourse-c4;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 95%;
  padding: 0.3rem 0.5rem;
  line-height: 1.05;
}
img {
  width: 100%;
}
image-caption {
  display: block;
  font-family: "concourse-c4";
  text-transform: lowercase;
}

a {
  text-decoration: none;
  color: inherit;
  transition-property: background;
  transition-duration: 0.2s;
}
a:active {
  color: #777;
}
a:after {
  position: relative;
  content: "\FEFF°";
  margin-left: 0.1em;
  font-size: 90%;
  top: -0.1em;
  color: #933;
  font-feature-settings: "caps";
  font-variant-numeric: normal;
}
a[name]:after {
  content: none;
}
div > a:after {
  content: none;
}
a:hover {
  background: #fbf3f3;
  transition-property: background;
  transition-duration: 0.2s;
  border-radius: 8px;
}
p.image a img {
  border: 1px solid gray;
}
p.image a:hover img {
  background: 0 0;
  outline: 1px solid gray;
}
code {
  font-family: triplicate-text;
  font-style: normal;
  font-weight: 400;
  font-size: 0.85rem;
  font-variant-numeric: normal;
}
code {
  font-family: triplicate-code;
  font-size: 95%;
  hyphens: none;
  padding: 0 0.2em;
}
