html {
  font-size: 16px;
  font-family: triplicate, monospace;
  font-feature-settings: "ss01";
  line-height: 1.45;
}

/* Always hide vertical scrollbar but allow scrolling */
html {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
html::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  margin: 0;
  padding: 2.5rem 0;

  color: hsl(0, 5%, 10%);
  background-color: hsl(210, 20%, 99%);
}

@media all and (max-width: 530px) {
  body {
    padding: 0;
    padding-bottom: 1rem;
  }
}

/* grid */
.ongrid {
  display: grid;
  grid-template-columns:
    1fr
    minmax(0, 1ch)
    min(50ch, 100%)
    minmax(0, 1ch)
    1fr;
}

.ongrid > * {
  grid-column: 3; /* Central column */

  box-sizing: border-box; /* Make sure padding doesn't cause elements to overflow their place in the grid */

  padding: 0 1rem; /* Quick fix for now */
}

.ongrid > p {
  grid-column: 3; /* Central column */

  box-sizing: border-box; /* Make sure padding doesn't cause elements to overflow their place in the grid */

  padding: 0 1.5rem; /* Quick fix for now */
}

.bleed {
  width: 100%;
  grid-column: 2 / 5; /* Central column plus gutter */

  /* Span the full width of the page */
  padding-left: 0;
  padding-right: 0;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / -1; /* Entire page */

  /* Span the full width of the page */
  padding-left: 0;
  padding-right: 0;
}

nav {
  position: sticky;
  top: 0;
  z-index: 10000000;
}

/* img */

img {
  outline: 2px solid #fff;
  outline-offset: -4px;
}

.ongrid > img {
  grid-column: 2 / 5; /* Central column plus gutter */

  box-sizing: border-box;

  /* Span the full width of the page */
  padding-left: 0;
  padding-right: 0;

  transform: translateX(0px);
}

/* a */

a {
  color: hsl(220, 100%, 45%);
  text-decoration: none;
}

a.text {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus,
a.text:hover,
a.text:focus {
  text-shadow: grey 0 0 1px;
}

/* https://stackoverflow.com/a/64127605/6783015 */
header a {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(240, 240, 240, 0.5),
    rgba(240, 240, 240, 1) 4%,
    rgba(240, 240, 240, 0.7)
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-decoration: none;
  color: black;
}

/* sup sub */

/* https://stackoverflow.com/a/58950175/6783015 */
sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.3em;
  font-size: smaller;
}

sub {
  top: 0.3em;
}

sup a[data-footnote-ref] {
  margin-left: 0.1em;
}

/* blockquote */

blockquote {
  font-size: 90%;
}

/* code (TODO) */

code {
  font-family: inherit;
  font-size: 90%;
  font-feature-settings: initial;

  padding: 0 0.2em;

  text-shadow: none;
  filter: none;
  transform: none;
}

@supports (hyphenate-limit-chars: 6 3) {
  p {
    hyphens: auto;
    hyphenate-limit-chars: 6 3;
  }
}
