:root {
  --title-basis: 14ch;
  --content-basis: 47ch;
}

html {
  font-size: 20px;
  font-family: triplicate, monospace;
  font-feature-settings: "ss01";
  line-height: 1.45;
}

body {
  margin: 0;
  
  word-break: break-word;
  overflow-wrap: break-word;
  
  -webkit-font-smoothing: subpixel-antialiased;
}


.container {
  width: 100%;
  max-width: calc(var(--title-basis) + var(--content-basis));

  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.title {
  background-color: red;
  width: var(--title-basis);
  flex-grow: 1;

  text-align: right;

  padding: 1rem 0;
}

.container.wrapped .title {
  background-color: blue;
  text-align: left;
}

.title h1 {
  font-size: 125%
}

.title p {
  font-style: italic;
}

.content {
  background-color: green;
  width: var(--content-basis);
  flex-grow: 1;
}
