html {
  font-size: 16px;
  font-family: triplicate, monospace;
  font-feature-settings: "ss01";
  line-height: 1.45;
}

body {
  overflow-wrap: break-word;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* a */

a.text {
  text-decoration: none;
  color: inherit;
}

/* sup sub */

/* https://stackoverflow.com/a/58950175/6783015 */
sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.3em;
  font-size: smaller;
}

sub {
  top: 0.3em;
}

sup a[data-footnote-ref] {
  margin-left: 0.1em;
}

/* blockquote */

blockquote {
  font-size: 90%;
}

/* code (TODO) */

code {
  font-family: inherit;
  font-size: 90%;
  font-feature-settings: initial;

  padding: 0 0.2em;

  text-shadow: none;
  filter: none;
  transform: none;
}

@supports (hyphenate-limit-chars: 6 3) {
  p {
    hyphens: auto;
    hyphenate-limit-chars: 6 3;
  }
}