@import "./fonts.css";

html {
  font-size: 16px;
  font-family: triplicate_a_poly, monospace; /* Note: triplicate_a_poly is **not** a monospace font */
  line-height: 1.45;
}

/* Always hide vertical scrollbar but allow scrolling */
html {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
html::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
html, body {
  overscroll-behavior-x: none;
  touch-action: pan-y;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  margin: 0;
  padding: 2.5rem 0;

  color: hsl(0, 5%, 10%);
  background-color: hsl(210, 20%, 99%);
}

@media all and (max-width: 530px) {
  body {
    padding: 0;
    padding-bottom: 1rem;
  }
}

/* grid */
.ongrid {
  display: grid;
  grid-template-columns:
    1fr
    minmax(0, 1ch)
    min(50ch, 100%)
    minmax(0, 1ch)
    1fr;
}

.ongrid > * {
  grid-column: 3; /* Central column */

  box-sizing: border-box; /* Make sure padding doesn't cause elements to overflow their place in the grid */

  padding: 0 1rem; /* Quick fix for now */
}

.ongrid > p {
  grid-column: 3; /* Central column */

  box-sizing: border-box; /* Make sure padding doesn't cause elements to overflow their place in the grid */

  padding: 0 1.5rem; /* Quick fix for now */
}

.bleed {
  width: 100%;
  grid-column: 2 / 5; /* Central column plus gutter */

  /* Span the full width of the page */
  padding-left: 0;
  padding-right: 0;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / -1; /* Entire page */

  /* Span the full width of the page */
  padding-left: 0;
  padding-right: 0;
}

nav {
  position: sticky;
  top: 0;
  z-index: 10000000;
}

/* img */

.ongrid > img {
  grid-column: 2 / 5; /* Central column plus gutter */

  box-sizing: border-box;

  /* Span the full width of the page */
  padding-left: 0;
  padding-right: 0;

  transform: translateX(0px);
}

/* a */

a {
  color: hsl(220, 100%, 45%);
  text-decoration: none;
}

a.text {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus,
a.text:hover,
a.text:focus {
  text-shadow: grey 0 0 1px;
}

/* https://stackoverflow.com/a/64127605/6783015 */
header a {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(240, 240, 240, 0.5),
    rgba(240, 240, 240, 1) 4%,
    rgba(240, 240, 240, 0.7)
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-decoration: none;
  color: black;
}

/* headers */
h1 {
  font-size: 1.5rem;     /* demoted from 1.75rem */
  font-weight: 700;
  line-height: 1.25;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

h2 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.3;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.35;
  margin-top: 1.75rem;
  margin-bottom: 0.875rem;
}

h4 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

h5 {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.4;
  margin-top: 1.25rem;
  margin-bottom: 0.625rem;
}

h6 {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.4;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #666; /* slightly softer, optional */
}


h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  padding-right: 0ch;

  color: #8c8c8c80;
  font-weight: 400;
  white-space: pre;
  pointer-events: none;
}

/* Hash content */
h1::before { content: "#"; }
h2::before { content: "##"; }
h3::before { content: "###"; }
h4::before { content: "####"; }
h5::before { content: "#####"; }
h6::before { content: "######"; }

/* Ensure headings are centered visually */
h1, h2, h3, h4, h5, h6 {
  position: relative;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* sup sub */

/* https://stackoverflow.com/a/58950175/6783015 */
sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.3em;
  font-size: smaller;
}

sub {
  top: 0.3em;
}

sup a[data-footnote-ref] {
  margin-left: 0.1em;
}

/* blockquote */

blockquote {
  font-size: 90%;
  margin-top: 0;
  margin-bottom: 0;
}

/* code (TODO) */

code {
  font-family: triplicate_a_code;
  font-size: 90%;
  font-feature-settings: initial; /* Revert to monospaced font */

  padding: 0 0.2em;

  text-shadow: none;
  filter: none;
  transform: none;
}

@supports (hyphenate-limit-chars: 6 3) {
  p {
    hyphens: auto;
    hyphenate-limit-chars: 6 3;
  }
}