:root {
  --title-basis: 14ch;
  --content-basis: 47ch;
}

html {
  font-size: 17px;
  font-family: triplicate, monospace;
  font-feature-settings: "ss01";
  line-height: 1.45;
}

body {
  margin: 0;
  
  word-break: break-word;
  overflow-wrap: break-word;
  
  -webkit-font-smoothing: subpixel-antialiased;
}

.container {
  width: 100%;

  margin-top: 3em;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.container.wrapped {
  margin-top: 1em;
}

.title {
  flex-basis: 14ch;
  margin: 0 1rem;

  padding: 0 0 0 2rem;

  line-height: 1.1;
  text-align: right;
  hyphens: none;

  border-top: solid 3px #333;
}

.container.wrapped .title {
  text-align: left;
  flex-grow: 1;
  padding: 0;
}

.title h1 {
  font-size: 125%;
  font-weight: bolder;

  margin-top: 0.2em;
}

.title p {
  font-style: italic;
}

.content {
  flex-basis: 47ch;
  padding: 0 1rem;
}

.container.wrapped .content {
  flex-grow: 1;
}

.content > *:first-child {
  margin-top: 0;
}