@custom-media --narrow-window (max-width: 1000px);

@media (--narrow-window) {
  html {
    background-color: yellow;
  }
}

:root {
  --title-basis: 20ch;
  --content-basis: 70ch;
  --section-basis: calc(var(--title-basis) + var(--content-basis));
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: triplicate-text, monospace;
  line-height: 1.45;
  font-feature-settings: "ss01";
  overflow-wrap: break-word;
  -webkit-font-smoothing: subpixel-antialiased;

  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.section {
  /* Section has a fixed width that shrinks to smaller viewports */
  max-width: var(--section-basis);
  width: 100%;

  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.title {
  background-color: red;
  flex-basis: var(--title-basis);
  flex-grow: 1;

  text-align: right;
}

.content {
  background-color: green;
  flex-basis: var(--content-basis);
  flex-grow: 1;
}
