:root {
  --title-basis: 17ch;
  --content-basis: 65ch;
}

html {
  font-size: 16px;
  font-family: monospace;
}

body {
  margin: 0;
}

.container {
  width: 100%;
  max-width: calc(var(--title-basis) + var(--content-basis));

  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.title {
  background-color: red;
  flex-basis: var(--title-basis);
  flex-grow: 1;

  text-align: right;
}

.container.wrapped .title {
  background-color: blue;
  text-align: left;
}

.content {
  background-color: green;
  flex-basis: var(--content-basis);
  flex-grow: 1;
}
