html {
  font-size: 18px;
  font-family: triplicate, monospace;
  font-feature-settings: "ss01";
  line-height: 1.45;
}

body {
  margin: 0;

  overflow-wrap: break-word;

  -webkit-font-smoothing: subpixel-antialiased;
}

/* .container */

.container {
  width: 100%;

  margin-top: 3em;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.container.wrapped {
  margin-top: 1em;
}

/* .title */

.title {
  flex-basis: 14ch;
  margin: 0 1rem;

  line-height: 1.1;
  text-align: right;
  hyphens: none;

  border-top: solid 3px #333;
}

.container.wrapped .title {
  text-align: left;
  flex-grow: 1;
}

.title h1 {
  font-size: 125%;
  font-weight: bolder;

  margin-top: 0.2em;
}

.title p {
  font-style: italic;
}

/* .content */

.content {
  flex-basis: 45ch;
  padding: 0 1rem;
}

.container.wrapped .content {
  flex-grow: 1;
}

.container:not(.wrapped) > .content > *:first-child {
  margin-top: 0;
}

.content p {
  text-shadow: 0.007em 0.0071em #00000040;
  filter: blur(
    0.0125em
  ); /* contrast(115%); */ /* Affects images and I can't figure out why im { filter: none; } doesn't work */
}

.content p:nth-child(odd) {
  transform: skewX(-0.5deg);
}

.content p:nth-child(even) {
  transform: skewX(+0.5deg);
}

/* sup sub */

/* https://stackoverflow.com/a/58950175/6783015 */
sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.3em;
}

sub {
  top: 0.3em;
}

sup a[data-footnote-ref] {
  margin-left: 0.05em;
}

/* blockquote */

blockquote {
  font-size: 90%;
}

/* img */

.content {
  overflow: hidden;
}

.content img {
  width: 100%;
  margin: 0 auto;
  height: auto;
  border: 1px solid #333;
  display: block;
}
