---
import PageLayout from "../../layouts/PageLayout.astro";
import { getPosts } from "../../scripts/posts";

export async function getStaticPaths() {
  const allPosts = await getPosts();

  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<PageLayout>
  <p>Posts tagged with {tag}</p>
  <ul>
    {
      posts.map((post: any) => (
        <li>
          <a href={`/${post.id}`}>{post.id}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
