---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      href="/butterick/triplicate-heavy.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      href="/butterick/core-fonts.css"
    />
  </head>
  <body>
    <div style="height: 12px;"></div>

    <div class="section">
      <div class="title">
        <p>id</p><p>This is the title. It should provide a better example</p>
      </div>

      <div class="content">
        <p>
          This is a longer tests text to replace the placeholder content. It
          should provide a better example of how the flexbox layout handles more
          substantial content within the green box.
        </p>
        <p>
          Here is another long paragraph to further demonstrate the flexbox
          layout. This text should also be substantial enough to show how the
          green box adapts to accommodate additional content, maintaining the
          overall structure and alignment within the flex container.
        </p>
      </div>
    </div>
  </body>
</html>
