---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getSortedPosts } from "../scripts/utils";

const posts = await getSortedPosts();

const pageTitle = "Marnix Van Soom";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="home">
    <div class="container">
      <div class="title" style="font-weight: bold;">
        <h1>media</h1>
      </div>

      <div class="content">
        <div
          style="display: flex; flex-wrap: wrap; justify-content: space-between;"
        >
          <div style="flex: 1 1 30%;">
            <img src="/matrix.jpeg" alt="Thumbnail 1" style="width: 100%;" />
          </div>
          <div style="flex: 1 1 30%; margin: 5px;">
            <img src="/matrix.jpeg" alt="Thumbnail 2" style="width: 100%;" />
          </div>
          <div style="flex: 1 1 30%; margin: 5px;">
            <img src="/matrix.jpeg" alt="Thumbnail 3" style="width: 100%;" />
          </div>
        </div>
      </div>

      <div class="container">
        <div class="title">
          <h1>research</h1>
        </div>

        <div class="content"></div>
      </div>

      <div class="container" style="font-weight: bold;">
        <div class="title">
          <h1>vault</h1>
        </div>

        <div class="content">
          <div class="footer" style="justify-content: space-between;">
            {
              posts
                .slice(0, 3)
                .map((post) => <a href={`/vault/${post.id}`}>{post.id}</a>)
            }
          </div>
        </div>
      </div>

      <div class="container">
        <div class="title">
          <h1>about</h1>
        </div>

        <div class="content">
          <div class="footer">
            <span><a href="/about">me</a></span>
            <span style="margin-right: auto;"><a href="/">homepage</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
