---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
  <div class="metro-spinner" aria-label="Loading content..."></div>
  <br />
  <div class="tile-spinner" aria-label="Loading..."></div>
</PageLayout>

<style>
  @keyframes tile-slide {
    0% {
      content: "▤";
    }
    25% {
      content: "▥";
    }
    50% {
      content: "▦";
    }
    75% {
      content: "▧";
    }
    100% {
      content: "▤";
    }
  }

  .tile-spinner::after {
    content: "▤";
    font-family: monospace;
    font-size: 1.6rem;
    display: inline-block;
    animation: tile-slide 1.2s steps(4) infinite;
  }

  @keyframes modern-metro {
    0% {
      content: "▰▱▱▱▱▱▱";
    }
    9% {
      content: "▰▰▱▱▱▱▱";
    }
    18% {
      content: "▰▰▰▱▱▱▱";
    }
    27% {
      content: "▱▰▰▰▱▱▱";
    }
    36% {
      content: "▱▱▰▰▰▱▱";
    }
    45% {
      content: "▱▱▱▰▰▰▱";
    }
    54% {
      content: "▱▱▱▱▰▰▰";
    }
    63% {
      content: "▱▱▱▱▱▰▰";
    }
    72% {
      content: "▱▱▱▱▱▱▰";
    }
    81% {
      content: "▱▱▱▱▱▱▱";
    }
    90% {
      content: "▱▱▱▱▱▱▱";
    }
    100% {
      content: "▱▱▱▱▱▱▱";
    }
  }

  .metro-spinner::after {
    content: "▱▱▱▱▱▱▱";
    font-family: monospace;
    font-size: 1rem;
    display: inline-block;
    animation: modern-metro 1.8s steps(12) infinite;
  }
</style>
