---
const { tag, years, parent } = Astro.props;
---

<div id="data" data-tag={tag} data-years={years.join(',')} data-parent={parent}></div>

<script src="../scripts/infinite-scroll-init.js">
  const scriptPath = Object.keys(scripts)[0];
  const module = await scripts[scriptPath]();
  module.default();
</script>
