---
import { getBaseDomain } from "../scripts/util";

const { href, title, destination } = Astro.props;

// Convert `https://sub.domain.com/path` to `domain.com`
const domain = destination ? getBaseDomain(destination) : null;
---

<a href={href} title={title}>
  <slot />

  {domain ? <sup style="font-size: x-small">🗗&#8239;{domain}</sup> : null}
</a>

<style>
  a sup {
    font-weight: normal;
  }
</style>
