---
const { title, subtitle } = Astro.props;

/*
The title link should just refer to the current page, except if:
- ends in a year, eg. /media/2024
- is part of a series, eg. /about/website/3
In both cases it should link to the parent page, eg. to /media and /about/website in previous examples.
*/
let href = Astro.url.pathname;
const regex = /\/\d+$/;
if (regex.test(href)) {
  href = href.replace(regex, "");
}
---

<div class="title">
  <header>
    <a class="text" href={href}>{title}</a>
  <header>

  <style>
    .title {
      line-height: 1.1;
      hyphens: none;
    }

    .title {
      display: flex;
      justify-content: center;
      text-align: center;
    }

    .title header {
      margin-top: 1.25em;

      font-size: 125%;
      font-weight: bolder;
    }

    .title p {
      font-style: italic;
    }
  </style>
</div>
