---
const { subtitle } = Astro.props;

/*
The title link should just refer to the current page, except if:
- ends in a year, eg. /media/2024
- is part of a series, eg. /about/website/3
In both cases it should link to the parent page, eg. to /media and /about/website in previous examples.
*/
let href = Astro.url.pathname;
const regex = /\/\d+$/;
if (regex.test(href)) {
  href = href.replace(regex, "");
}
---

<div class="title">
  <h1>
    <a class="text" href={href}
      ><slot /><a></a>
      <p>{subtitle}</p>
    </a>

    <style>
      .title {
        line-height: 1.1;
        hyphens: none;
        border-top: solid 2px #333;
      }

      .title {
        display: flex;
        justify-content: center;
        text-align: center;
      }

      .title h1 {
        margin-top: 1.25em;

        font-size: 125%;
        font-weight: bolder;
      }

      .title p {
        font-style: italic;
      }

      /* TODO: refactor media queries */
      @media all and (max-width: 530px) {
        .title h1::before {
          display: inline-block;
        }
      }
    </style>
  </h1>
</div>
