html {
  font-size: 16px;
  font-family: triplicate, monospace;
  font-feature-settings: "ss01";
  line-height: 1.45;
}

body {
  overflow-wrap: break-word;
  -webkit-font-smoothing: subpixel-antialiased;
}