---
import Monospan from "../components/Monospan.astro";

const { selectedTag } = Astro.props;

function selected(s) {
  return selectedTag == s ? "selected" : "";
}
---

<div class="sidenav">
  <a class={selected("media")} href="/media">
    <Monospan>media</Monospan>
  </a>
  <a class={selected("rsrch")} href="/rsrch">
    <Monospan>rsrch</Monospan>
  </a>
  <a class={selected("vault")} href="/vault">
    <Monospan>vault</Monospan>
  </a>
  <a class={selected("about")} href="/about">
    <Monospan>about</Monospan>
  </a>
</div>

<style>
  .sidenav {
    padding-bottom: 8px;
    padding-top: 8px;

    border-top: solid 2px #333;
    border-bottom: solid 2px #333;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-around;

    line-height: 1;

    font-style: italic;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .selected {
    font-weight: bold;
  }

  .selected::before {
    content: "⋛"; /* &GreaterEqualLess; */
  }
</style>
