---
import "../styles/butterick.css";
import BaseLayout from "./BaseLayout.astro";
const { id, frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />

    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      href="/butterick/triplicate-heavy.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      href="/butterick/core-fonts.css"
    />
    <title>
      Paragraph and&nbsp;character styles | Butterick’s Practical Typography
    </title>

    <style type="text/css">
      body.hidden {
        opacity: 0;
      }
    </style>

    <style type="text/css">
      body {
        text-shadow: 0.1px 0.1px #00000040;

        filter: blur(0.35px) contrast(110%);

        color: #000000;

        max-width: 70ch;
      }

      html {
        background-color: rgb(244 114 182);
        /*background-color:#72f4b0;*/
      }
    </style>
  </head>

  <body>
    <div id="content">
      <title-block
        ><topic>{id}</topic><short-rule>{frontmatter.title}</short-rule
        ></title-block
      >

      <slot />
    </div>
  </body>
</html>
