---
import "../styles/butterick.css";
import BaseLayout from "./BaseLayout.astro";
const { id, frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />

    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      href="/butterick/triplicate-heavy.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      href="/butterick/core-fonts.css"
    />
    <title>
      {id} {frontmatter.title}
    </title>
  </head>

  <body>
    <div id="content">
      <title-block
        ><topic>{id}</topic><short-rule>{frontmatter.title}</short-rule
        ></title-block
      >

      <slot />
    </div>
  </body>
</html>
