<div class="nav" style="background-color: white; margin-top: 0;">
  <div class="container">
    <div class="title">
      <div class="grid">
        <a href="/media" style="font-weight: bold" class="text"
          ><span>m</span><span>e</span><span>d</span><span>i</span><span>a</span
          ></a
        >
        <a href="/research" class="text"
          ><span>r</span><span>s</span><span>r</span><span>c</span><span>h</span
          ></a
        >
        <a href="/vault" class="text"
          ><span>v</span><span>a</span><span>u</span><span>l</span><span>t</span
          ></a
        >
        <a href="/about" class="text"
          ><span>a</span><span>b</span><span>o</span><span>u</span><span>t</span
          ></a
        >
      </div>
    </div>

    <div class="content">
      <span>next post</span>
      <span>previous post</span>
    </div>
  </div>
</div>

<style>
  .title {
    /*transform: translateY(-9.5em);*/
    display: flex;
    justify-content: right;
    gap: 2rem;
    margin-bottom: 1rem;

    border-top: none;
    border-bottom: solid 2px #333;
    padding-bottom: 5px;
  }

  .grid {
    padding-top: 0.25em;
    display: grid;
    grid-template-columns: repeat(5, 1.2ch);
    font-size: 125%;
    justify-content: end; /* Align the grid to the right */
  }

  .grid.narrow {
    grid-template-columns: repeat(2, 1.2ch);
  }

  .grid a {
    display: contents; /* Allow spans to integrate directly into the grid */
  }

  .grid span {
    line-height: 1.1em; /* Match row height for alignment */
    text-align: center;
  }

  .content {
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    width: 100%;
    font-style: italic;
  }
</style>
