---
import ScholarIcon from "../icons/scholar.svg";
import InstagramIcon from "../icons/instagram.svg";
import { getSortedPosts } from "../scripts/posts";

const allPosts = await getSortedPosts();

const { tag} = Astro.props;

---

<div class="nav" style="border-bottom: dashed 4px #88df6ae0;">
  <div class="container">
    <div class="title">
      <h1 style="font-weight: bold;"><a href=`/${tag}` class="text">{tag? tag : "vault"}</a></h1>
    </div>

    <div class="content">
      <div class="footer" style="justify-content: space-between;">
        {
          allPosts.slice(0, 3).map((post) => (
            <a href={`/${post.id}`} key={post.id}>
              {post.id}
            </a>
          ))
        }
      </div>
    </div>
  </div>
</div>

<div class="nav" style="background-color: #88df6ae0; margin-top: 0;">
  <div class="container">
    <div class="title">
      <h1 style="font-weight: bold;">goto</h1>
    </div>

    <div class="content">
      <div class="footer">
        <span><a href="/">home</a></span>
        <span style="margin-right: auto;"><a href="/about">about</a></span>

        <a href="https://www.instagram.com/marnixvansoom" target="_blank">
          <InstagramIcon viewBox="0 0 132 132" title="Instagram profile" />
        </a>

        <a
          href="https://scholar.google.com/citations?user=1yXORK4AAAAJ"
          target="_blank"
        >
          <ScholarIcon viewBox="0 0 512 512" title="Google Scholar profile" />
        </a>
      </div>
    </div>
  </div>
</div>
