---
import Monospan from "../components/Monospan.astro";

const { selectedTag } = Astro.props;

function selected(s) {
  return selectedTag == s ? "selected" : "";
}
---

<div class="bar">
  <a class={selected("media")} href="/media">
    <Monospan>media</Monospan>
  </a>
  <a class={selected("rsrch")} href="/rsrch">
    <Monospan>research</Monospan>
  </a>
  <a class={selected("vault")} href="/vault">
    <Monospan>vault</Monospan>
  </a>
  <a class={selected("about")} href="/about">
    <Monospan>about</Monospan>
  </a>
</div>

<style>
  .bar {
    padding-bottom: 8px;
    padding-top: 8px;

    border-top: solid 2px #333;
    border-bottom: solid 4px #333;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-around;

    line-height: 1;

    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(
        135deg,
        rgba(0, 0, 0, 0.075) 0%,
        rgba(0, 0, 0, 0.075) 50%,
        transparent 50%,
        transparent 100%
      ),
      linear-gradient(
        45deg,
        transparent 0%,
        transparent 50%,
        rgba(0, 0, 0, 0.075) 50%,
        rgba(0, 0, 0, 0.075) 100%
      );
  }

  a {
    text-decoration: none;
    color: inherit;
    background-color: yellow;
    padding: 3px;
  }

  a:nth-child(odd) {
    transform: skewX(-5deg);
    background-color: red;
  }

  a:nth-child(even) {
    transform: skewX(+5deg);
    transform: translateY(-1px);
  }

  .selected {
    font-weight: bold;
  }
</style>
