<div class="nav" style="background-color: white; margin-top: 0;">
  <div class="container">
    <div class="title" style="border:none">
      <h1 style="font-weight: bold; border:none">&nbsp;</h1>
    </div>

    <div class="content">
      <div class="footer" style="font-weight:530">
        <span><a href="/media" class="text">media</a></span> 
        <span><a href="/research" class="text">research</a></span>
        <span><a href="/vault" class="text">vault</a></span> <!-- Next -->
        <span><a href="/about" class="text">about</a></span>
      </div>
    </div>
  </div>
</div>