---
import "../../styles/bleed.css";
---

<html>
  <head> </head>
  <body>
    <main class="wrapper">
      <h1>Some Heading</h1>
      <p>Some content and stuff</p>
      <div class="test full-bleed">ydezsqcfazddaar</div>
      <p>Some more content and stuff</p>
      <img
        class="full-bleed"
        alt="cute meerkat"
        src="https://www.joshwcomeau.com/images/full-bleed/meerkat.jpg"
      />
      <p>Some more content and stuff</p><div class="aside">
        <p>Some aside content</p>
      </div>
      <p>Some more content and stuff</p>
      <p>Some more content and stuff</p>
      <div class="test full-bleed">ydezsqcfazddaar</div>
    </main>
  </body>
</html>
